.navbar 
{
  background-color: #1a3808;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* veya fixed */
  top: 0; /* Üst kenara sıfır */
  left: 0; /* Sol kenara sıfır */
  width: 100%; 
}

.logo 
{
  height: 100px;
  margin-right: 1000px;
}